* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(10 18 87 / 81%);
  /* font-size: 2rem; */
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

header {
  background-color: rgb(128, 87, 223);
  color: white;
  font-weight: bolder;
  width: 100%;
  padding: 10px 0;

}

#search {
  padding: 10px;
  
}

#search h3 {
  color: white;
}

#userinput {
  width: 25%;
}

#searchbtn {
  width: 15%;
  background-color: black;
  font-weight: 700;
}
/* #currentcity{
  
  width: 50%;
  border: 1px solid black;
  height: 400px;
  background-color: rgb(255, 255, 255);
   color: black;
}   */
